* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
}

.navbar .logo {
    height: 35px;
  }

.header-banner img {
    max-width: 100%;
    /* max-width: 1200px; */
    display: block;
    border-radius: 18px;
   padding: 1px 10px 0px 10px;
    height: auto;
}


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eff6ff; /* Light blue background */
    padding: 10px; /* Add some padding for space */
    font-size: 14px; /* Increase the font size for better visibility */
    margin: 20px 0; /* Space from the surrounding sections */
    color: #334155;
}

.banner #timer {
    color: #334155; /* Text color to match the theme */
}

.banner img {
    width: 14px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    vertical-align: middle; /* Ensure the image aligns well with the text */
    margin-left: 5px; /* Add space between the text and the image */
    margin-right: 5px; /* Add space between the image and the timer text */
    
}

.card-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.recharge-card {
    position: relative;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(173, 216, 230, 0.5);
    border: 1px solid #e2e8f0;
    width: 95%;
}

.recharge-card h2 {
    text-align: center;
    color: #228BE6;
    margin-bottom: 20px;
}

.network-selection {
    margin-bottom: 20px;
}

.network-option {
    color: #3b82f6; /* Set text color to blue */
}

.network-selection label {
    font-weight: 600;
    margin-bottom: 0;
    font-size: 14px;
}

.network-options {
    display: flex;
    justify-content: space-between;
    /* Ensures radio buttons stay inline */
    flex-wrap: nowrap;
    margin-top: 5px;
}

.network-option {
    display: flex;
    align-items: center;
    padding: 8px;
    border: 2px solid #228BE6;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.network-option:hover {
    background-color: rgba(34, 139, 230, 0.1);
}

.network-option input {
    margin-right: 5px;
    accent-color: #228BE6; /* Changes the radio button color */
}

.network-option input:checked + label {
    background-color: rgba(34, 139, 230, 0.1);
}

.mobile-number-section {
    margin-bottom: 20px;
}

.mobile-number-section label {
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: -10px;
    display: block;
    font-size: 14px;
}

.mobile-number-section input {
    width: 100%;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 5px;
}

.recharge-button {
    text-align: center;
    background-color: #007bff;
    color: white;
    border: transparent;
    padding: 15px 0;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 550;
    width: 100%;
}


.recharge-button button:hover {
    background-color: #1b75cf;
}

.footer-banner img {
    width: 100%;
    max-width: 1200px;
    display: block;
    margin: 20px 0 0 0;
}


#error-message {
    color: #ef446e; /* Text color for error */
    font-size: 13px; /* Adjust font size */
    margin-top: 6px; /* Space between input field and error message */
    display: none; /* Initially hidden */
    opacity: 0.9;
}

@media (max-width: 768px) {
    .recharge-card {
        padding: 20px;
        width: 90%;
        margin: 20px auto;
    }

    .network-options {
        justify-content: space-around;
        /* Ensure radio buttons stay inline on mobile */ 
    }

    .network-option {
        margin-bottom: 0;
        width: auto; /* Adjust width to prevent wrapping */
    }

    .navbar {
        padding: 10px 15px; /* Reduced padding for tablets */
    }

    .navbar .logo {
     height: 30px;  /* Slightly smaller logo for tablets */
    }

    .hamburger {
        margin-right: 10px; /* Space between hamburger and logo */
    }
}

@media (max-width: 480px) {

     .recharge-card {
        padding: 15px; /* Slightly reduced padding for mobile */
        width: 95%; /* Full width minus some margin */
        margin: 10px auto; /* Centering the card */
    }

    .network-options {
       
        justify-content: space-evenly; /* Evenly space items */
        flex-wrap: nowrap; /* Prevent wrapping */
    }


    .network-option {
        /* Keep the radio buttons inline and adjust the width */
        margin-right: 5px;
    }

    .mobile-number-section input {
        font-size: 14px;
    }

    .recharge-button {
        width: 100%;
    }

    .navbar {
        padding: 10px 10px; /* Further reduced padding for mobile screens */
        flex-direction: row; /* Ensures items stay in a row */
         }

    .navbar .logo {
        max-width: 50%;
        height: auto;
       /* height: 28px;  Smaller logo for mobile */
    }

    .hamburger {
        margin-right: 5px; /* Less space between hamburger and logo */
    }
}
